---
- name: Install prerequisite packages
  loop: "{{ dependencies }}"
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true

- name: Add the repository to APT sources
  ansible.builtin.deb822_repository:
    name: packer
    types: ["deb"]
    uris: "{{ base_hashicorp_url }}"
    suites: "{{ ansible_distribution_release }}"
    components: main
    signed_by: "{{ gpg_key_url }}"
    architectures: amd64
    enabled: true

- name: Install Terraform
  ansible.builtin.apt:
    name: terraform
    update_cache: true

- name: Verify the installation
  ansible.builtin.command:
    cmd: terraform -version
  changed_when: false

- name: Add autocompletion for Terraform
  ansible.builtin.command:
    cmd: terraform -install-autocomplete
  register: terraform_autocomplete
  failed_when: >
    terraform_autocomplete.rc != 0 and
    'already installed' not in terraform_autocomplete.stderr
  changed_when: terraform_autocomplete.rc == 0
